doctype html
html
    head
        title Hello
    body
        - var client = client1
        input#textfield1(type='text', name='textfield', placeholder='Client', style='border:1px solid #ccc; padding:5px;',value = client)