doctype html
html
  head
    meta(charset='utf-8')
    title ::NIA Agreement::
    style(type='text/css').
      input
      {
      border-bottom:1px solid #333;
      border-top:none;
      border-left:none;
      border-right:none;
      width:100%;
      }
      table, td, tr
      {
      margin:0;
      padding:0;
      }
      .ftt
      {
      font-size:25px;
      }
      .ftt-1
      {
      font-size:20px;
      }
      h1,h2,h3,h4
      {
      margin:0;
      padding:0;
      }
  body
    table(width='100%', align='left')
      tbody
        tr
          td.ftt(colspan='30', align='center', valign='middle', style='font-size:19px;')
            h4 NOTICE OF INTENTION TO APPEAR
        tr
          td.ftt(colspan='30', align='center', valign='top', style='font-size:18px;')
            h4
              em AVIS D’INTENTION DE COMPARAÎTRE
        tr
          td(colspan='7', rowspan='5', align='left', valign='top')
            | ONTARIO COURT OF JUSTICE
            br
            em COUR DE JUSTICE DE L’ONTARIO
            br
            | Province of Ontario 
            em
              br
              | Province de l’Ontario
          td(colspan='18')  
          td(colspan='5', rowspan='5', align='right', valign='middle')
            | Form /
            em  Formulaire
            |  8 
            br
            em Provincial Offences Act
            br
            | Loi sur les infractions provinciales
        tr
          td(colspan='18')  
        tr
          td(colspan='18')  
        tr
          td(colspan='18')  
        tr
          td(colspan='18')  
        tr
          td(colspan='4') TAKE NOTICE THAT I,
          td(colspan='26')
            input#textfield1(type='text', name='textfield')
        tr
          td(colspan='10') VEUILLEZ PRENDRE AVIS QUE JE SOUSSIGNÉ(E),
          td(colspan='20')
            | (defendant’s name / 
            em nom du défendeur/de la défenderesse
            | )
        tr
          td(colspan='5')
            input#textfield2(type='text', name='textfield')
          td(width='9')  
          td(colspan='16')
            input#textfield3(type='text', name='textfield')
          td(width='9')  
          td(colspan='6')
            input#textfield4(type='text', name='textfield')
          td(width='111')  
        tr
          td(colspan='5', align='center', valign='middle')
            | (current address / 
            em adresse actuelle
            | )
          td(width='9')  
          td(colspan='16', align='center', valign='middle')
            | (street /
            em  rue
            | )
          td(width='9')  
          td(colspan='6', align='center', valign='middle')
            | (apt. / 
            em app.
            | )
          td(width='111')  
        tr
          td(colspan='9')
            input#textfield5(type='text', name='textfield', placeholder='Toronto')
          td(colspan='2')  
          td(colspan='9')
            input#textfield6(type='text', name='textfield', placeholder='Ontario')
          td(width='9')  
          td(colspan='7')
            input#textfield7(type='text', name='textfield')
          td(colspan='2')  
        tr
          td(colspan='9', align='center', valign='middle')
            | (municipality / 
            em municipalité
            | )
          td(colspan='2')  
          td(colspan='9', align='center', valign='middle') (province)
          td(width='9')  
          td(colspan='7', align='center', valign='middle')
            | (postal code / 
            em code postal
            | )
          td(colspan='2')  
        tr
          td(colspan='13')
            input#textfield8(type='text', name='textfield')
          td(colspan='5')  
          td(colspan='12')
            input#textfield9(type='text', name='textfield')
        tr
          td(colspan='13', align='center', valign='middle')
            | (offence number / 
            em numéro
            em de l’infraction
            | )
          td(colspan='5')  
          td(colspan='12', align='center', valign='middle')
            | (offence date / 
            em date de l’infraction
            | )
        tr
          td(colspan='30')
            | wish to give notice of my intention to appear in court to enter a plea of not guilty at the time and place set for the trial respecting the charge set out in the Offence Notice or Parking Infraction Notice.
        tr
          td(colspan='30')
            | désire donner avis de mon intention de comparaître devant le tribunal pour inscrire un plaidoyer de non-culpabilité à l’heure et au lieu prévus pour le procès en réponse à l’accusation énoncée dans l’avis d’infraction ou l'avis d'infraction de stationnement.
        tr
          td(width='27', align='left', valign='top')
            input(type='checkbox')
          td(colspan='29')
            | I intend to appear in court to enter a plea at the time and place set for the trial and I wish that it be held in the English language.
        tr
          td(width='27', align='left', valign='top')
            input(type='checkbox')
          td(colspan='29', align='left', valign='top')
            | J’ai l’intention de comparaître devant le tribunal pour inscrire un plaidoyer à l’heure et au lieu prévus pour le
            | procès et je désire que le procès se déroule en français.
        tr
          td(colspan='3') I request a
          td(colspan='14')
            input#textfield10(type='text', name='textfield')
          td(colspan='13') language interpreter for the trial.
        tr
          td(colspan='3')  
          td(colspan='14', align='center', valign='middle') (leave blank if inapplicable)
          td(colspan='13')  
        tr
          td(colspan='8')
            em Je demande l’aide d’un interprète en langue
          td(colspan='16')
            input#textfield11(type='text', name='textfield')
          td(colspan='6')
            em pour le procès.
        tr
          td(colspan='8')  
          td(colspan='16', align='center', valign='middle')
            em (à remplir, s'il y a lieu)
          td(colspan='6')  
        tr
          td(colspan='30')
        tr
          td(colspan='2', align='left', valign='top')
            strong Note:
          td(colspan='10', align='left', valign='top', style='font-size:13px;')
            | If you 
            strong fail to notify
            |  the court office of 
            strong address changes
            |  you may not receive important notices 
            em e.g.,
            |  your Notice of Trial. You may be convicted in your absence if you do not attend the trial.
          td(colspan='4')  
          td(colspan='3', align='right', valign='top')
            strong
              em Remarque : 
          td(colspan='11', align='right', valign='top', style='font-size:13px;')
            em
              | Si vous 
              strong omettez
              strong de prévenir
              |  le greffe du tribunal de 
              strong tout
              strong changement d’adresse
              | , vous pourriez ne pas recevoir d’importants avis (p. ex., votre avis de procès). Vous pourriez être déclaré(e) coupable en votre absence si vous n’assistez pas au procès.
        tr
          td(colspan='14')
            input#textfield12(type='text', name='textfield')
          td(width='9')  
          td(colspan='11')
            input#textfield13(type='text', name='textfield')
          td(rowspan='3', width='9')  
          td(colspan='3')
            input#textfield14(type='text', name='textfield')
        tr
          td(colspan='14', align='center', valign='middle')
            | Signature of defendant /
            br
            em Signature 
            em du défendeur/de la défenderesse
          td  
          td(colspan='11', align='center', valign='middle') (date)
          td(colspan='3', align='center', valign='middle')
            | (telephone number / 
            em numéro de téléphone
            | )
        tr
          td(colspan='14', align='left', valign='top', style='font-size:12px;')
            strong Sriram Rangan - CMILT
            br
            | Licensed Paralegal - LSUC # 11749
            br
            | 104-8130 Sheppard Ave E
            br
            | Scarborough, Ontario
            br
            | M1B 3W3
            br
            | P: 
            u 416-754-7601
            br
            | C: 
            u 416-473-8472
            br
            | f: 
            u 416-352-7841
            br
            | e: 
            u sri@vaganlegalservices.com
            br
            | w: 
            u www.vaganlegalservices.com
          td(width='9')  
          td(colspan='11', align='center', valign='middle')  
          td(colspan='3', align='center', valign='middle')  
        tr
          td(colspan='30')  
