doctype true
//if IE
  html.ie-browser(xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
// [if !IE] <!
html(style='margin: 0;padding: 0;', xmlns='http://www.w3.org/1999/xhtml')
  // <![endif]
  head
    //if gte mso 9
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width')
    // [if !mso] <!
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // <![endif]
    title Empty Template
    // [if !mso] <!
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    // <![endif]
    style#media-query(type='text/css').
      body {
      margin: 0;
      padding: 0; }
      table, tr, td {
      vertical-align: top;
      border-collapse: collapse; }
      .ie-browser table, .mso-container table {
      table-layout: fixed; }
      * {
      line-height: inherit; }
      a[x-apple-data-detectors=true] {
      color: inherit !important;
      text-decoration: none !important; }
      [owa] .img-container div, [owa] .img-container button {
      display: block !important; }
      [owa] .fullwidth button {
      width: 100% !important; }
      .ie-browser .col, [owa] .block-grid .col {
      display: table-cell;
      float: none !important;
      vertical-align: top; }
      .ie-browser .num12, .ie-browser .block-grid, [owa] .num12, [owa] .block-grid {
      width: 550px !important; }
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
      line-height: 100%; }
      .ie-browser .mixed-two-up .num4, [owa] .mixed-two-up .num4 {
      width: 180px !important; }
      .ie-browser .mixed-two-up .num8, [owa] .mixed-two-up .num8 {
      width: 360px !important; }
      .ie-browser .block-grid.two-up .col, [owa] .block-grid.two-up .col {
      width: 275px !important; }
      .ie-browser .block-grid.three-up .col, [owa] .block-grid.three-up .col {
      width: 183px !important; }
      .ie-browser .block-grid.four-up .col, [owa] .block-grid.four-up .col {
      width: 137px !important; }
      .ie-browser .block-grid.five-up .col, [owa] .block-grid.five-up .col {
      width: 110px !important; }
      .ie-browser .block-grid.six-up .col, [owa] .block-grid.six-up .col {
      width: 91px !important; }
      .ie-browser .block-grid.seven-up .col, [owa] .block-grid.seven-up .col {
      width: 78px !important; }
      .ie-browser .block-grid.eight-up .col, [owa] .block-grid.eight-up .col {
      width: 68px !important; }
      .ie-browser .block-grid.nine-up .col, [owa] .block-grid.nine-up .col {
      width: 61px !important; }
      .ie-browser .block-grid.ten-up .col, [owa] .block-grid.ten-up .col {
      width: 55px !important; }
      .ie-browser .block-grid.eleven-up .col, [owa] .block-grid.eleven-up .col {
      width: 50px !important; }
      .ie-browser .block-grid.twelve-up .col, [owa] .block-grid.twelve-up .col {
      width: 45px !important; }
      @media only screen and (min-width: 570px) {
      .block-grid {
      width: 550px !important; }
      .block-grid .col {
      display: table-cell;
      Float: none !important;
      vertical-align: top; }
      .block-grid .col.num12 {
      width: 550px !important; }
      .block-grid.mixed-two-up .col.num4 {
      width: 180px !important; }
      .block-grid.mixed-two-up .col.num8 {
      width: 360px !important; }
      .block-grid.two-up .col {
      width: 275px !important; }
      .block-grid.three-up .col {
      width: 183px !important; }
      .block-grid.four-up .col {
      width: 137px !important; }
      .block-grid.five-up .col {
      width: 110px !important; }
      .block-grid.six-up .col {
      width: 91px !important; }
      .block-grid.seven-up .col {
      width: 78px !important; }
      .block-grid.eight-up .col {
      width: 68px !important; }
      .block-grid.nine-up .col {
      width: 61px !important; }
      .block-grid.ten-up .col {
      width: 55px !important; }
      .block-grid.eleven-up .col {
      width: 50px !important; }
      .block-grid.twelve-up .col {
      width: 45px !important; } }
      @media (max-width: 570px) {
      .block-grid, .col {
      min-width: 320px !important;
      max-width: 100% !important; }
      .block-grid {
      width: calc(100% - 40px) !important; }
      .col {
      width: 100% !important; }
      .col > div {
      margin: 0 auto; }
      img.fullwidth {
      max-width: 100% !important; } }
  //if mso
    body.mso-container(style='background-color:#FFFFFF;')
  // [if !mso] <!
  body.clean-body(style='margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #FFFFFF')
    // <![endif]
    .nl-container(style='min-width: 320px;Margin: 0 auto;background-color: #FFFFFF')
      //if (mso)|(IE)
        table(width='100%', cellpadding='0', cellspacing='0', border='0')
          tr
            td(align='center', style='background-color: #FFFFFF;')
      div(style='background-color:#FFFFFF;')
        .block-grid(style='Margin: 0 auto;min-width: 320px;max-width: 550px;width: 550px;width: calc(24000% - 136250px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
          div(style='border-collapse: collapse;display: table;width: 100%;')
            //if (mso)|(IE)
              table(width='100%', cellpadding='0', cellspacing='0', border='0')
                tr
                  td(style='background-color:#FFFFFF;', align='center')
                    table(cellpadding='0', cellspacing='0', border='0', style='width: 550px;')
                      tr.layout-full-width(style='background-color:transparent;')
            //if (mso)|(IE)
              td(align='center', width='550', style=' width:550px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;', valign='top')
            .col.num12(style='min-width: 320px;max-width: 550px;width: 550px;width: calc(23000% - 125950px);background-color: transparent;')
              div(style='background-color: transparent; width: 100% !important;')
                // [if (!mso)&(!IE)] <!
                div(style='border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                  // <![endif]
                  .img-container.center.fullwidth(align='center', style='padding-right: 0px;  padding-left: 0px;')
                    //if mso
                      table(width='100%', cellpadding='0', cellspacing='0', border='0')
                        tr
                          td(style='padding-right: 0px; padding-left: 0px;', align='center')
                    img.center.fullwidth(align='center', border='0', src='https://s3-us-west-2.amazonaws.com/opiniion/clients/BeeAdore/BeeAdoreLong.png', alt='Bee Adore', title='Bee Adore', style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;width: 100%;max-width: 550px', width='550')
                    //if mso
                  //if mso
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tr
                        td(style='padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 15px;')
                  div(style='padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 15px;')
                    div(style='font-size:12px;line-height:24px;font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#59655C;text-align:left;')
                      p(style='margin: 0;font-size: 14px;line-height: 28px;text-align: center')
                        span(style='font-size: 16px; line-height: 32px;')
                          | Thank you so much for visiting Bee Adore! Your satisfaction is our top priority, and we'd love to hear from you. Please take a few seconds to let us know how we're doing.
                        br
                  //if mso
                  div(style="font-size: 16px;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: center;")
                    meta
                    style.
                      .button-table tr:first-child td{
                      border-top: 1px solid #e9dddd;
                      border-bottom: 1px solid #e9dddd;
                      padding: 5px 6px;
                      }
                      .button-table tr:first-child td div{
                      transition: .5s ease all;
                      }
                      @media(max-width: 639px){
                      .button-table tr td{
                      min-width:  65px !important;
                      min-height: 85px !important;
                      }
                      .button-table tr td div{
                      height: 65px !important;
                      width: 85px !important;
                      }
                      }
                      @media(max-width: 480px){
                      .button-table tr.text-row{
                      font-size: 12px !important;
                      }
                      .button-table tr td{
                      padding: 4px 2px !important;
                      }
                      }
                      @media(max-width: 360px){
                      .button-table tr td{
                      min-width:  55px !important;
                      min-height: 55px !important;
                      }
                      .button-table tr td div{
                      height: 55px !important;
                      width: 65px !important;
                      }
                      }
                    table.button-table(style='border-collapse: collapse; ')
                      tbody
                        tr(style='text-align:center; color:#ffffff; font-size:30px; font-weight:600;')
                          td(style='min-height:80px;min-width:100px;')
                            a(href='http://www.opiniion.com/beeadore/n1/', style='color:#ffffff; text-decoration:none;')
                              div(style='height:80px;width:100px; background:rgb(37, 170, 225);vertical-align:middle; border-radius:3px; display:table-cell;')
                                | 1
                          td(style='min-height:80px;min-width:100px;')
                            a(href='http://www.opiniion.com/beeadore/n1/', style='color:#ffffff; text-decoration:none;')
                              div(style='height:80px;width:100px; background:rgb(37, 170, 225);vertical-align:middle; border-radius:3px; display:table-cell;')
                                | 2
                          td(style='min-height:80px;min-width:100px;')
                            a(href='http://www.opiniion.com/beeadore/n1/', style='color:#ffffff; text-decoration:none;')
                              div(style='height:80px;width:100px; background:rgb(37, 170, 225);vertical-align:middle; border-radius:3px; display:table-cell;')
                                | 3
                          td(style='min-height:80px;min-width:100px;')
                            a(href='http://www.opiniion.com/beeadore/r1/', style='color:#ffffff; text-decoration:none;')
                              div(style='height:80px;width:100px; background:rgb(37, 170, 225);vertical-align:middle; border-radius:3px; display:table-cell;')
                                | 4
                          td(style='min-height:80px;min-width:100px;')
                            a(href='http://www.opiniion.com/beeadore/r1/', style='color:#ffffff; text-decoration:none;')
                              div(style='height:80px;width:100px; background:rgb(37, 170, 225);vertical-align:middle; border-radius:3px; display:table-cell;')
                                | 5
                        tr.text-row(style='text-align:center; color:#707070; font-size:14px;')
                          td(style='min-height:80px;min-width:100px;') Terrible
                          td(style='min-height:80px;min-width:100px;')
                          td(style='min-height:80px;min-width:100px;')
                          td(style='min-height:80px;min-width:100px;')
                          td(style='min-height:80px;min-width:100px;') Excellent
                  //if mso
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tr
                        td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;')
                  div(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;')
                    div(style="font-size:12px;line-height:14px;color:#555555;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;text-align:left;")
                      p(style='margin: 0;font-size: 14px;line-height: 17px;text-align: center')
                        br
                      p(style='margin: 0;font-size: 14px;line-height: 16px;text-align: center')
                        br
                      p(style='margin: 0;font-size: 14px;line-height: 16px;text-align: center')
                        br
                      p(style='margin: 0;font-size: 14px;line-height: 16px;text-align: center')  
                      p(style='margin: 0;font-size: 14px;line-height: 16px;text-align: center')
                        br
                  //if mso
                  // [if (!mso)&(!IE)] <!
                // <![endif]
            //if (mso)|(IE)
      div(style='background-color:#707070;')
        .block-grid(style='Margin: 0 auto;min-width: 320px;max-width: 550px;width: 550px;width: calc(24000% - 136250px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
          div(style='border-collapse: collapse;display: table;width: 100%;')
            //if (mso)|(IE)
              table(width='100%', cellpadding='0', cellspacing='0', border='0')
                tr
                  td(style='background-color:#707070;', align='center')
                    table(cellpadding='0', cellspacing='0', border='0', style='width: 550px;')
                      tr.layout-full-width(style='background-color:transparent;')
            //if (mso)|(IE)
              td(align='center', width='550', style=' width:550px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;', valign='top')
            .col.num12(style='min-width: 320px;max-width: 550px;width: 550px;width: calc(23000% - 125950px);background-color: transparent;')
              div(style='background-color: transparent; width: 100% !important;')
                // [if (!mso)&(!IE)] <!
                div(style='border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                  // <![endif]
                  //if mso
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tr
                        td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;')
                  div(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;')
                    div(style='font-size:12px;line-height:14px;font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#a9a9a9;text-align:left;')
                      p(style='margin: 0;font-size: 12px;line-height: 14px;text-align: center')
                        span(style='font-size: 10px; line-height: 12px;') This email was sent on behalf of Bee Adore by Opiniion LLC
                      p(style='margin: 0;font-size: 12px;line-height: 14px;text-align: center')
                        span(style='font-size: 10px; line-height: 12px;') Copyright 2017, Opiniion LLC All Rights Reserved
                  //if mso
                  // [if (!mso)&(!IE)] <!
                // <![endif]
            //if (mso)|(IE)
      //if (mso)|(IE)
